#equipNameBlock {
    flex: 1;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.equipNameTxt {
    font-size: 25px;
    margin: 0;
    font-family: 'Sansita Swashed', cursive;
    color: white;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    animation: fade 1s 0.5s forwards;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.equipInputContainer{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:40px;
    animation: fade 1s 2s both;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
