#home{
    background-image: url(../../img/Fond.png);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#transpBlock{
    z-index:1;
    height:40vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

    #transpBox{
        z-index:1;
        height:100%;
        width:85vw;
        background: rgba(0, 0, 0, 0.75);
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        #equipNameBlock{
            flex:1;
            padding-bottom:2vh;
            display:flex;
            justify-content: center;
            align-items: flex-end;
        }
        
            #equipNameTxt{
                font-size:8vw;
                margin:0;
                font-family: 'Sansita Swashed',cursive;
                color:white;
                text-align:center;
                font-weight: 400;
                opacity:0;
                animation : fade 1s 0.5s forwards;
            }

            @keyframes fade {
                0% {opacity:0}
                100% {opacity:1}
            }
        
        #equipNameInputBlock{
            width:100%;
            padding-top:2vh;
            flex:1;
            display:flex;
            justify-content: center;
            align-items: flex-start;
        }

            #equipNameInput{
                font-size:5vw;
                padding-bottom:0.5vh;
                min-height:30px;
                height:3.5vh;
                width:60vw;
                font-family: 'Sansita Swashed',cursive;
                color:black;
                border-radius:3vw;
                padding-left:2vw;
                border: 1vw solid #000000;
                box-sizing: border-box;
                box-shadow: -0.8vw 1.2vw 0.8vw rgba(255, 255, 255, 0.25);
                opacity:0;
                animation : fade 1s 1s forwards;
            }

            #equipNameInput:focus{
                outline:none;
                border: 1vw solid #057B26;
            }

#buttonBlock{
    
    height:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

    #greenButton{
        min-height:50px;
        background:linear-gradient(180deg, #1F682F 0%, #07160A 100%);
        border:1vw solid #000000;
        filter:drop-shadow(-1vw 1vw 1vw rgba(0, 0, 0, 0.75));
        height:6vh;
        border-radius:10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0 5vw 0.8vh 5vw;
        box-sizing: border-box;
        text-decoration: none;
    }

    #greenButton:active{
        background:linear-gradient(180deg,#07160A 0% ,  #1F682F 100%);
    }

        #buttonTxt{
            margin:0;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            color:white;
            font-size:6vw;
            font-family: 'Sansita Swashed',cursive;
            font-weight: 700;
        }

            #link{
                text-decoration:none;
            }
