

        .secuTitleBlock{
            height:50px;
            display:flex;
            justify-content: center;
            align-items: center;
        }

            .secuTitleTxt{
                margin:0;
                color:white;
                font-size:25px;
                font-family: 'Sansita Swashed',cursive;
                font-weight: 700;
            }

        .secuContentBlock{
            height:230px;
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
        }

            #secuContentBox{
                padding:0vh 3vw 0vh 3vw;
                height:100%;
                width:75%;
                background: rgba(38, 38, 38, 0.75);
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

                .secuContentTitleBlock{
                    margin-top:10px;
                    margin-bottom:10px;
                    width:100%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }

                    .secuContentTitle{
                        margin:0;
                        color:white;
                        font-size:15px;
                        font-family: 'Sansita Swashed',cursive;
                        font-weight: 400;
                        animation:fade 2s forwards;
                        text-align:center;
                    }

                #secuContentTxtBlock{
                    flex:6;
                    width:100%;
                    display:flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    overflow:auto;
                }
            
                    .secuContentTxt{
                        margin:0;
                        color:white;
                        font-size:10px;
                        font-family: 'Sansita Swashed',cursive;
                        font-weight: 200;
                        animation:fade 2s forwards;
                        text-align:justify;
                    }


                #secuTapBlock{
                    width:100%;
                    flex:1;
                    display:flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                    #secuTapBox{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                    }

                        /* #secuTap{

                        } */

                            .tap{
                                height:7px;
                                width:auto;
                                position:relative;
                                bottom:0;
                                animation: bounce 1s infinite;
                            }

                            @keyframes bounce{
                                50%{bottom:1vh}
                            }



                        .secuTapTxt{
                            margin:0;
                            padding-right:2vw;
                            padding-bottom:0.4vh;
                            color:white;
                            font-size:10px;
                            font-family: 'Sansita Swashed',cursive;
                            font-weight: 400;
                        }


        #secuAcceptBlock{
            height:40px;
            width:95%;
            display:flex;
            justify-content: center;
            align-items: center;
        }

            #acceptCaseBlock{
                flex:1;
                height:50px;
                display:flex;
                justify-content: center;
                align-items: center;
            }

                #acceptCase{
                    width:15px;
                    height:15px;
                    background-color: white;
                    border:2px solid #000000;
                    filter:drop-shadow(-1vw 1vw 1vw rgba(0, 0, 0, 0.75));
                    border-radius:5px;
                    box-shadow: inset 3px 2px 2px rgba(0, 0, 0, 0.46);
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }
                
                    #check{
                        position:relative;
                        bottom:2px;
                        left:2px;
                        height:30px;
                        width:auto;
                    }

            #acceptTxtBlock{
                flex:6;
            }

                #acceptTxt{
                    margin:0;
                    color:white;
                    font-size:13px;
                    font-family: 'Sansita Swashed',cursive;
                    font-weight: 400;
                    padding-left:1vw;
                }

@media (min-height:800px) {

    .secuTitleBlock{
        height:60px
    }
        
    .secuContentBlock {
        height:280px;
    }
}
    
@media (min-width:600px) {

     
}
