.testContent{
    z-index:1;
    height:360px;
    width:320px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
        justify-content: center;
        align-items: center;
}

    .testBlock{
        height:90%;
        width:90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
        background: rgba(0,0,0,0.75);
        border-radius:5px;
        position:relative;
    }

@media (min-height:800px) {

    .testContent{
        height:420px;
    }
        
    
    }
    
@media (min-width:600px) {

    .testContent{
        width:400px;
    }
        
    }