.parchemin{
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 360px;
    width:320px;
    margin-left:auto;
    margin-right:auto;
}

    .parcheminBlock{
        height:90%;
        width:90%;
        background: rgba(0,0,0,0.75);
    }

    .parcheminTitle{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:10px;
    }

        .parcheminTxt{
            font-size:22px;
            color:white;
            margin:0;
            font-family: 'Sansita Swashed',cursive;
            text-align:center;
            font-weight: 400;
        }


@media (min-height:800px) {

    .parchemin{
        height:450px;
    }
    
        
    
    }
    
    @media (min-width:600px) {
    
        .parchemin{
            width:400px;
        }
        
            .parcheminTxt{
                font-size:25px;
            }
            
        }