.choice{
    overflow: hidden;
    position: relative;
    width:100%;
}

    .choiceTitle{
        margin-bottom:20px;
    }

        .choiceTitleTxt{
            font-size:22px;
            color:white;
            margin:0;
            font-family: 'Sansita Swashed',cursive;
            text-align:center;
            font-weight: 400;
        }

    .swipe{
        overflow: hidden;
        position: relative;
        
    }

    .choiceContent {
        float: left;
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
      }

        .compassChoiceTitle{
            margin-top:10px;
            margin-bottom:10px;
        }

            .compassChoiceTitleTxt{
                font-size:16px;
                color:white;
                margin:0;
                font-family: 'Sansita Swashed',cursive;
                text-align:center;
                font-weight: 400;
            }

        .choiceLocationImg{
            
        }

            .choiceImg{
                height: 140px;
                width: auto;
            }

        .soloChoiceTitle{
            margin-top:10px;
            margin-bottom:10px;
        }

            .soloChoiceTitleTxt{
                font-size:16px;
                color:white;
                margin:0;
                font-family: 'Sansita Swashed',cursive;
                text-align:center;
                font-weight: 400;
            }

@media (min-height:800px) {

    .choiceImg{
        height: 220px;
    }

    .choiceContent {
        height:320px;
      }

      .soloChoiceTitleTxt{
        font-size:18px;
    }

    .compassChoiceTitleTxt{
        font-size:18px;
    }
    
}
    
@media (min-width:600px) {

    
        
}
