#header{
    position:absolute;
    top:0;
    width:100vw;
    height:45%;
    /* background:linear-gradient(180deg, #101010 23.96%, #101010 23.97%, rgba(49, 52, 54, 0) 83.33%); */
    overflow:hidden;
}

    .animHead{
        animation : wipeDown 1.5s 2s both;
    }

    @keyframes wipeDown {
        0% {height:0}
        100% {height:45%}
    }

#headerBlock{
    margin-top:20px;
    display:flex;
}

#logoBlock{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

    #logo{
        z-index:1;
        height: 60px;
        width:auto;
    }

#titleBlock{
    flex:2;
    display:flex;
    justify-content: center;
    align-items: center;
}

    #lightTitleTxt{
        font-size:26px;
        font-family: 'Sansita Swashed',cursive;
        color:white;
        text-align:center;
        font-weight: 900;
        margin:0;
    }

    #darkTitleTxt{
        font-size:27px;
        font-family: 'Sansita Swashed',cursive;
        color:black;
        text-align:center;
        font-weight: 700;
        margin:0;
    }

#hambBlock{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

    #hamb{
        height:30px;
        width:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        z-index:3;
    }

        #lightHambUp{
            position:relative;
            height:6px;
            width:40px;
            background-color: white;
            border-radius:1vw;
        }
        #darkHambUp{
            position:relative;
            height:6px;
            width:40px;
            background-color: black;
            border-radius:1vw;
        }

        #lightHambMid{
            position:relative;
            top:0.2vh;
            height:6px;
            width:40px;
            background-color: white;
            border-radius:1vw;
        }
        #darkHambMid{
            position:relative;
            top:0.2vh;
            height:6px;
            width:40px;
            background-color: black;
            border-radius:1vw;
        }

        #lightHambDown{
            position:relative;
            top:0.4vh;
            height:6px;
            width:40px;
            background-color: white;
            border-radius:1vw;
        }  
        #darkHambDown{
            position:relative;
            top:0.4vh;
            height:6px;
            width:40px;
            background-color: black;
            border-radius:1vw;
        }    

            .animationLightHambUp{
                animation: lightHambUp 2s forwards;
            }
            .animationDarkHambUp{
                animation: darkHambUp 2s forwards;
            }

            .animationLightHambMid{
                animation: lightHambMid 2s forwards;
            }
            .animationDarkHambMid{
                animation: darkHambMid 2s forwards;
            }

            .animationHambDown{
                animation: hambDown 1.5s forwards;
            }

            @keyframes lightHambUp {
                0%   {background-color:white;top:0px}
                100% {background-color:#C31515;transform:rotate(45deg);top:14px}
            }
            @keyframes darkHambUp {
                0%   {background-color:black;top:0px}
                100% {background-color:#C31515;transform:rotate(45deg);top:14px}
            }

            @keyframes lightHambMid {
                0%   {background-color:white}
                100% {background-color:#C31515;transform:rotate(-45deg)}
            }
            @keyframes darkHambMid {
                0%   {background-color:black}
                100% {background-color:#C31515;transform:rotate(-45deg)}
            }

            @keyframes hambDown {
                0%   {opacity : 1}
                100% {opacity : 0}
            }

            .animationLightHambUpInv{
                animation: lightHambUpInv 2s forwards;
            }
            .animationDarkHambUpInv{
                animation: darkHambUpInv 2s forwards;
            }

            .animationLightHambMidInv{
                animation: lightHambMidInv 2s forwards;
            }
            .animationDarkHambMidInv{
                animation: darkHambMidInv 2s forwards;
            }

            .animationHambDownInv{
                animation: hambDownInv 1.5s forwards;
            }

            @keyframes lightHambUpInv {
                0%   {background-color:#C31515;transform:rotate(45deg);top:14px}
                100% {background-color:white;top:0vh}
            }
            @keyframes darkHambUpInv {
                0%   {background-color:#C31515;transform:rotate(45deg);top:14px}
                100% {background-color:black;top:0vh}
            }

            @keyframes lightHambMidInv {
                0%   {background-color:#C31515;transform:rotate(-45deg);bottom:1vh}
                100% {background-color:white}
            }
            @keyframes darkHambMidInv {
                0%   {background-color:#C31515;transform:rotate(-45deg);bottom:1vh}
                100% {background-color:black}
            }

            @keyframes hambDownInv {
                0%   {opacity : 0}
                100% {opacity : 1}
            }

@media (min-width:600px) {
    #headerBlock{
        margin-top:30px;
    }

    #logo{
        height: 80px;
    }

    #hamb{
        height:45px;
        width:60px;
    }

        #lightHambUp{
            height:8px;
            width:60px;
        }
        #darkHambUp{
            height:8px;
            width:60px;
        }

        #lightHambMid{
            height:8px;
            width:60px;
        }
        #darkHambMid{
            height:8px;
            width:60px;
        }

        #lightHambDown{  
            height:8px;
            width:60px;
        }
        #darkHambDown{  
            height:8px;
            width:60px;
        }

        #lightTitleTxt{
            font-size:40px;
        }
    
        #darkTitleTxt{
            font-size:40px;
        }

        @keyframes lightHambUp {
            0%   {background-color:white;top:0px}
            100% {background-color:#C31515;transform:rotate(45deg);top:20px}
        }
        @keyframes darkHambUp {
            0%   {background-color:black;top:0px}
            100% {background-color:#C31515;transform:rotate(45deg);top:20px}
        }
        @keyframes lightHambUpInv {
            0%   {background-color:#C31515;transform:rotate(45deg);top:20px}
            100% {background-color:white;top:0vh}
        }
        @keyframes darkHambUpInv {
            0%   {background-color:#C31515;transform:rotate(45deg);top:20px}
            100% {background-color:black;top:0vh}
        }
}