.backpack{
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 360px;
    width:320px;
    margin-left:auto;
    margin-right:auto;
}

    .backpackBlock{
        height:90%;
        width:90%;
        background: rgba(0,0,0,0.75);
    }

        .backpackTitle{
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top:10px;
        }

            .backpackTxt{
                font-size:22px;
                color:white;
                margin:0;
                font-family: 'Sansita Swashed',cursive;
                text-align:center;
                font-weight: 400;
            }

        .objects{
            height:270px;
            padding:10px 20px 10px 20px;
            display:grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(5,20%);
        }

            .objectCase{
                background-color:white;
                height:35px;
                width:35px;
                margin:auto;
                border-radius: 5px;
                box-shadow: inset -3px -3px 4px rgba(0, 0, 0, 0.5);
                display:flex;
                justify-content: center;
                align-items: center;
            }

                .objectImg{
                    height:35px;
                    width:auto;
                }

@media (min-height:800px) {

.backpack{
    height:420px;
}

    .objects{
        height:320px;
    }  

}

@media (min-width:600px) {

    .backpack{
        width:400px;
    }
    
        .backpackTxt{
            font-size:25px;
        }
            
            .objectCase{
                height:45px;
                width:45px;
            }
    
    }
