#menu{
    position:fixed;
    right:0;
    top:0;
    width:0vw;
    z-index:2;
    height:100vh;
    background: linear-gradient(270deg, #030303 71.55%, rgba(3, 3, 3, 0) 99.21%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .animMenu {
        animation: menu 1.5s forwards;
    }

    @keyframes menu {
        0%   {width:0vw}
        100% {width:100vw}
    }

    .animMenuInv{
        animation: menuInv 2s both;
    }

    @keyframes menuInv {
        0%     {width:100vw}
        100%   {width:0vw}
    }

#titleMenuBlock{
    flex:2;
    width:0vw;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
    width:0;
}

    .animTitleBlock{
        animation:menu 1s both;
    }

    .animTitleBlockInv{
        animation:menuInv 1s both;
    }

    #titleMenuTxtBlock{
        flex:4;
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }

        #titleMenuTxt{
            color:white;
            margin:0;
            opacity:0;
            font-size:10vw;
            font-family: 'Sansita Swashed',cursive;
            font-weight: 700;
            padding-bottom:1vh; 
            padding-right:5vw;
        }

            .animTitle{
                animation:title 1s 1s both;
            }

            @keyframes title {
                0%   {opacity:0;z-index:-1}
                100% {opacity:1;z-index:2}
            }

            .animTitleInv{
                animation:titleInv 0.5s both;
            }

            @keyframes titleInv {
                0%   {opacity:1;}
                100% {opacity:0}
            }

    #crossBlock{
        flex:1.3;
        display:flex;
        justify-content: center;
        align-items: center;
    }

        #cross{
            height:4vh;
            width:auto;
        }

#itemsBlock{
    flex:10;
    width:0;
}

    .animItemsBlock{
        animation:menu 1s 1.5s both;
    }

    .animItemsBlockInv{
        animation:menuInv 1s 1.5s both;
    }

    .itemBlock{
        margin:0;
        height:10vh;
        position:relative;
        right:-80vw;
        width:100vw;
        display:flex;
        justify-content: center;
        align-items: center;
    }

        #animItem0{
            animation: item 1s 1.5s both   ;
        }

        #animItem1{
            animation: item 1s 1.8s both   ;
        }

        #animItem2{
            animation: item 1s 2.1s both   ;
        }

        @keyframes item {
            0%   {right:-80vw}
            100% {right:0vw;}
        }

        #animItemInv0{
            animation: itemInv 1s both   ;
        }

        #animItemInv1{
            animation: itemInv 1s 0.2s both   ;
        }

        #animItemInv2{
            animation: itemInv 1s 0.4s both   ;
        }

        @keyframes itemInv {
            0%   {right:0vw;}
            100% {right:-80vw}
        }

        .itemTxtBlock{
            flex:4;
            display:flex;
            justify-content: flex-end;
            align-items: center;
        }

            .itemTxt{
                color:white;
                font-size:8vw;
                font-family: 'Sansita Swashed',cursive;
                font-weight: 400;
                padding-bottom:1vh; 
                padding-right:5vw;
            }

        .itemImgBlock{
            flex:1.3;
            display:flex;
            justify-content: center;
            align-items: center;
        }

            .itemImg{
                height:3vh;
                width:auto;
            }

#contactBlock{
    flex:2;
    width:100vw;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

    .animContact{
        animation:menu 1s both;
    }

    .animContactInv{
        animation:menuInv 1s both;
    }

    #contactTxt{
        margin:0;
        color:white;
        font-size:8vw;
        font-family: 'Sansita Swashed',cursive;
        font-weight: 700;
        padding-bottom:1vh; 
        padding-right:24vw;
        opacity:0;
        
    }

        .animContact{
            animation:title 1s 1s both;
        }

        .animContactInv{
            animation:titleInv 1s both;
        }

#leaveBlock{
    flex:2;
    width:100vw;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:20vw;
    opacity:0;
    z-index:-1;
}

    .animLeave{
        animation:title 1s 1s both;
    }

    .animLeaveInv{
        animation:titleInv 1s both;
    }

    #redButton{
        background:linear-gradient(180deg, #C41515 0%, #2D0E0E 100%);
        border:0.7vw solid #ffffff;
        filter:drop-shadow(-1vw 1vw 1vw rgba(255, 255, 255, 0.5));
        height:6vh;
        border-radius:10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0 5vw 0.8vh 5vw;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    #redButton:active{
        background:linear-gradient(180deg, #2D0E0E 0%, #C41515 100%);
    }
    
        #buttonTxt{
            margin:0;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            color:white;
            font-size:6vw;
            font-family: 'Sansita Swashed',cursive;
            font-weight: 700;
        }
    
            #link{
                text-decoration:none;
            }