#saleugos{
    z-index:1;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}  
    
    #saleugosBlock{
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: row;
        opacity:1;
    }

        #saleugosCircle{
            height:45px;
            width:45px;
            background: linear-gradient(180deg, #091688 0%, #000000 100%);
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: -2px 2px 6px rgba(255, 255, 255, 0.75);
            border-radius: 100vw;
        }
        
            #saleugosNotif{
                height:25%;
                width:25%;
                position:relative;
                top:5%;
                right:-80%;
                border-radius:100vh;
                background: #B91515;
                animation: glow 2.5s infinite;
                opacity:0;
            }

            @keyframes glow {
                40% {opacity:1}
                60% {opacity:1}
            }

        #saleugosBulleClosed{
            display:flex;
            justify-content: center;
            align-items: center;
            width:0%;
            height:100%;
        }

        #saleugosBulleOpened{
            display:flex;
            justify-content: center;
            align-items: center;
            width:80%;
            height:100%;
        }

        .closeBulle{
            animation:close 1s both;
        }

        @keyframes close{
            0% {width:80%}
            100% {width:0%}
        }

        .openBulle{
            animation:open 1s both;
        }

        @keyframes open{
            0% {width:0%}
            100% {width:80%}
        }

            #saleugosTriangleBlock{
                width:5%;
                display:flex;
                justify-content:flex-end;
                align-items:flex-start;
            }

                #saleugosTriangleImg{
                    width:100%;
                    height:10%;
                }

        #saleugosBulleBox{
            width:100%;
            height:100%;
            background: rgba(198, 198, 198, 0.38);
            border-radius: 2vw;
            display:flex;
            justify-content:center;
            align-items:center; 
            flex-direction: row;      
        }

            #saleugosBulleTxtBlock{
                width:90%;
            }

                #saleugosBulleTxt{
                    margin:0;
                    padding: 2% 7% 4% 3%;
                    text-align: left;
                    color:white;
                    font-size:16px;
                    font-family: 'Sansita Swashed',cursive;
                    font-weight: 400;
                    animation : fadeIn 0.5s both;
                }

            #saleugosTapBlock{
                width:8%;
                height:85%;
                display:flex;
                justify-content:center;
                align-items:flex-end;
                animation : tapBounce 1s infinite both;
            }

            @keyframes tapBounce {
                50% {height:50%}
            }

                #saleugosTapImg{
                    width:50%;
                }